.accueil-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    max-width: 1000px;
    margin: auto;
}

.accueil-main h1 {
    margin-bottom: 15px;
}

.accueil-main p {
    margin-bottom: 46px;
}

.accueil-main div {
    padding-right: 80px;
}

.projects {
    background-color: white;
    padding: 80px;
}

.projects h2 {
    color: #1F2039;
    text-align: center;
    margin-bottom: 60px;
}

.projects div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    color: white;
}

h2 {
    text-align: center;
    color: #A5B4FC;
    margin-bottom: 40px;
}

.nom-email {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form-column {
    display: flex;
    flex: 1;
    flex-direction: column;
}

input, textarea {
    padding: 15px;
}

label {
    padding: 5px 0px;
}

#button-form {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}