body {
    font-family: sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    /* max-width: 500px; */
    width:  400px;
    margin: auto;
    padding: 12px 0px;
}

form label {
    padding: 5px 0px;
}